/* General Styles definitions */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1920px;
}


:root {

    --fontcolor: #eafac3;
    --darkborder: #1f270c;
    --background05: #395000;
    --background04: #5B7814;
    --background01: #fcfff4;

    --hoverbckg: rgba(72, 105, 124, 0.6);
    --hovverbordere: #09344E ;
}

/* Styles for Header Section */

header {
    display: flex;
    flex-wrap: column wrap;

    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 25px;
    background-color: var(--background05);
    color: var(--fontcolor);
}


header h1 {
    background-color: var(--background04);
    border: solid var(--darkborder) 3px;
    padding: 15px 60px 15px 60px;
    min-width: 450px;
}


header nav {
    text-align: right;
}


header nav a {
    margin: 10px;
    color: var(--background01);
}


a {
    text-decoration-thickness: 3px;
    text-underline-offset: .4rem;
}


/* Styles for Banner Section */


.banner {
    position: relative;
    max-width: 1920px;
    min-width: 600px;
}

.banner_pic {
    align-items: center;
    object-fit: cover;
    max-width: 1920px;
}

.profile_pic {
    height: 100%;
    border-right: solid 10px var(--background01);
    position: absolute;
    top: 0px;
    left: 0px;
}

.banner h2 {
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-color: var(--background04);
    color: var(--fontcolor);
    border: solid var(--darkborder) 3px;
    padding: 15px 40px 15px 40px;;
    
}


/* Styles for Main Section */

main section {
    display: flex;
    padding: 20px;
    background-color: var(--background01);
}


.section_title {
    width: 10%;
    min-width: 200px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: var(--background05);
    font-weight: bold;
    text-align: right;
    border-right: solid var(--background05) 4px;

}

/* Styles Pictures/links in Work sub-section */

.section_content {
    display: flex;
    flex-flow:wrap;
    width: 95%;
    min-width: 500px;
}


.section_content p {
    padding: 20px;
    text-align: justify;
    line-height: 1.2;
}


.sc01, .sc02 {
    position: relative;
    border: solid var(--background04) 4px;
    margin: 10px;
}

.sc01 {
    flex: 2 2 1200px;
    min-height: 500px;
}

.sc02 {
    flex: 2 2 550px;
    min-height: 200px;
}


.segment_title {
    height: 90px;
    width: 250px;

    position: absolute;
    left: 0px;
    bottom: 30px;

    font-size: 14px;

    background-color: var(--background04);
    color: var(--fontcolor);
}

.segment_title span {
    font-size: 25px;
    font-weight: bold;
}


.bckg_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Styles for Contact Me Sub-section */


.section_content nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items:center;
    padding: 30px;

    width: 100%;
    
    background-color: #eafac3;

}

.section_content nav a {
    color: var(--background05);
    font-size: 22px;
}

/* Styles for Hover Behavior */

.hover_bckg {
    background-color: var(--hoverbckg);
    opacity: 0;
    width: 100%;
    height: 100%;
}


.sc01:hover, .sc02:hover {
    border-color: var(--hovverbordere);
    cursor: pointer;
    
}


.sc01:hover > .segment_title,
.sc02:hover > .segment_title {

    background-color: var(--hovverbordere);
    color: white;
    
}


.sc01:hover > .hover_bckg, 
.sc02:hover > .hover_bckg {
    opacity: 0.6;
} 



/* Styles for screens below 768px resolution */


@media screen and (max-width: 768px) {
    
    body {
        min-width: 600px;
    }


    header {
        flex-direction: column;
        padding-bottom: 40px;
    }

    h1 {
        margin-bottom: 22px;
    }


    .banner {
        max-width: 100%;
    }
    
    .banner_pic {
        max-width: 100%;
        min-height: 300px;
        object-fit: cover;

    }


    main section {
        flex-direction: column;
    }

    .section_title {
        width: 100%;
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
        color: var(--background05);
        font-weight: bold;
        text-align: center;
        border-right: none;
        border-bottom: solid var(--background05) 4px;
    }

    
    .section_content {
        display: flex;
        justify-content:center;
        width: 100%;
        min-width: 500px;
    
    }


    .section_content nav a{
        font-size: 16px;
    }

    .section_content p {
        text-align: center;
    }



    .segment_title {

        height: 70px;
        width: 100%;

    
        position: absolute;
        left: 0px;
        top: 0px;
    
        text-align: center;
        font-size: 12px;
    
        background-color: var(--background04);
        color: var(--fontcolor);
    }


    .segment_title span {
        font-size: 20px;
    }


    


  }
